@import url('https://fonts.googleapis.com/css?family=Cinzel|Italianno|Rufina');


* {
    margin: 0;
    padding: 0;
}

nav {
    padding-top: 25px;
    position: fixed;
    width: 100%;
    background-color: rgba(144, 76, 119, 0.7);
}

nav ul {
    width: 310px;
    margin: 0 auto;
}

nav img {
    float: left;
}

li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    width: 95px;
}

li a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-family: Cinzel, sans-serif;
}


.search-container {
    width: 1420px;
    margin: 0 auto;
}


.search {
    position: relative;
    top: -30px;
    right: 180px;
    float: right;
    padding: 10px;
    outline: 0;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 150px;
    color: white;
    background-color: rgba(144, 76, 119, 0);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

.search:focus {
    width: 1010px;
}

.search:hover {
    outline: 0;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
}

.fa-search {
    float: right;
    position: relative;
    top: -25px;
    font-size: 30px;
    left: -180px;
    display: inline-block;
    border-bottom: 1px solid black;
}

nav ul li a.contact {
    font-weight: bolder;
}

li a:hover {
    font-weight: bolder;
}

section.content {
    width: 1060px;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(255, 236, 227);
    padding-top: 150px;
}


button {
   background-color: transparent;
   border: 0;
   outline: 0;
   cursor: pointer;
}


.form-container {
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    height: 700px;
}

.form-container {
    margin-bottom: 30px;
}

div.form-group {
    margin: 0 auto;
    width: 300px;
}

form {
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    height: 350px;
}

form input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 250px;
    outline: 0;
}

.form-group-textarea {
    width: 350px;
    margin: 0 auto;
}

textarea {
    border-radius: 5px;
    width: 350px;
    outline: 0;
}

form p {
    margin: 5px;
    text-align: center;
    font-family: "Italianno", sans-serif;
    font-size: 27px;
}

.fa-facebook-f {
    color: #3b5998;
}

.fa-facebook-f:hover {
    color: black;
}

.fa-instagram {
    color: #962fbf;
}

.fa-instagram:hover {
    color: black;
}

.fa-pinterest-p {
    color: #bd081c;
}

.fa-pinterest-p:hover {
    color: black;
}

.fa-twitter {
    color: #00aced;
}

.fa-twitter:hover {
    color: black;
}

footer {
    height: 173px;
    background-color: rgba(160, 112, 89, 0.6);
    width: 100%;
}

footer .footer-share-box {
    width: 270px;
    margin: 0 auto;
    padding-top: 55px;
}

footer .footer-share-box a {
    text-decoration: none;
}

footer .footer-share-box a i {
    opacity: 1;
    margin: 20px;
    font-size: 30px;
}