@import url('https://fonts.googleapis.com/css?family=Cinzel|Italianno|Rufina');


* {
    margin: 0;
    padding: 0;
}

nav {
    padding-top: 25px;
    position: fixed;
    width: 100%;
    background-color: rgba(144, 76, 119, 0.7);
}

nav ul {
    width: 320px;
    margin: 0 auto;
}

li {
    display: inline-block;
    list-style-type: none;
}

li a  {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-family: Cinzel, sans-serif;
}

.search-container {
    width: 1420px;
    margin: 0 auto;
}


.search {
    position: relative;
    top: -30px;
    right: 180px;
    float: right;
    padding: 10px;
    outline: 0;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 150px;
    color: white;
    background-color: rgba(144, 76, 119, 0);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}

.search:focus {
    width: 1010px;
}

.search:hover {
    outline: 0;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
}

.fa-search {
    float: right;
    position: relative;
    top: -25px;
    font-size: 30px;
    left: -180px;
    display: inline-block;
    border-bottom: 1px solid black;
}

nav ul li a.gallery {
    font-weight: bolder;
}

li a:hover {
    font-weight: bolder;
}

section.content {
    width: 1060px;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(255, 236, 227);
    padding-top: 150px;
}

div.linebreak  {
    width: 505px;
    margin: 0 auto;
    padding-bottom: 50px;
}

section.content div.gallery-content {
    width: 95%;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 58px -16px rgba(97,97,97,1);
    -moz-box-shadow: 0px 0px 58px -16px rgba(97,97,97,1);
    box-shadow: 0px 0px 58px -16px rgba(97,97,97,1);
    border-radius: 10px;
}

section.content div.gallery-content {
    margin-bottom: 30px;
}

.image-container {
    padding-bottom: 25px;
    width: 95%;
    margin: 0 auto;
}

section.content div.gallery-content div.image-box {
    width: 31.5%;
    margin: 0 auto;
    display: inline-block;
    height: 400px;

}

section.content div.gallery-content div.image-box {
    margin-left: 7px;
    margin-top: 25px;
    margin-right: 7px;
}

section.content div.gallery-content div.image-box img {
    width: 100%;
    border-radius: 80px;
}

section.content div.gallery-content div.image-box img:hover {
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
}

.image-box h3 {
    text-align: center;
    padding-top: 20px;
}


.image-box h3 a {
    text-decoration: none;
    color: black;
    font-family: "Italianno", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.image-box h3 a:hover {
    text-decoration: overline;

}

.page-navigation {
    text-align: center;
}

.page-navigation span {
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
}

.page-navigation a {
    padding: 15px;
    border-radius: 50%;
    text-decoration: none;
}

.page-navigation a:hover {
    -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
}

footer {
    height: 100px;
    background-color: #A07059;
    opacity: 0.6;
}