@import url('https://fonts.googleapis.com/css?family=Cinzel|Italianno|Rufina');


* {
    margin: 0;
    padding: 0;
}

nav {
    padding-top: 25px;
    position: fixed;
    width: 100%;
    background-color: rgba(144, 76, 119, 0.7);
}

nav ul {
    width: 310px;
    margin: 0 auto;
}

nav img {
    float: left;
}

li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    width: 95px;
}

li a  {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-family: Cinzel, sans-serif;

}

.search-container {
    width: 1420px;
    margin: 0 auto;
}

.search {
    position: relative;
    top: -30px;
    right: 180px;
    float: right;
    padding: 10px;
    outline: 0;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 150px;
    color: white;
    background-color: rgba(144, 76, 119, 0);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 1010px;
}

.search:hover {
    outline: 0;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
}

.fa-search {
    float: right;
    position: relative;
    top: -25px;
    font-size: 30px;
    left: -180px;
    display: inline-block;
    border-bottom: 1px solid black;
}

nav ul li a.home {
    font-weight: bolder;
}

li a:hover {
    font-weight: bolder;
}

section.content {
    width: 1060px;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(255, 236, 227);
    padding-top: 150px;
}

section.content p {
    font-family: Rufina, sans-serif;
}

section.content article.stories {
    width: 640px;
    margin: 0 auto;
}


section.content article.stories h1 a {

    font-family: "Italianno", sans-serif;
    font-size: 55px;
    color: #484848;
    font-weight: 400;
    text-decoration: none;
}

section.content article.stories h1 {
    text-align: center;
}


section.content article.stories img {
    padding-top: 20px;
}

section.content article.stories p {
    text-align: justify;
    width: 650px;
}

div.linebreak  {
    width: 505px;
    margin: 0 auto;
    padding-bottom: 100px;
}


div.share-box {

    width: 230px;
    margin: 0 auto;
    border-radius: 5px;
}

div.share-box a {
    text-decoration: none;
}

div.share-box a i {
    margin: 20px;
}

.fa-facebook-f {
    color: #3b5998;
}

.fa-facebook-f:hover {
    color: black;
}

.fa-instagram {
    color: #962fbf;
}

.fa-instagram:hover {
    color: black;
}

.fa-pinterest-p {
    color: #bd081c;
}

.fa-pinterest-p:hover {
    color: black;
}

.fa-twitter {
    color: #00aced;
}

.fa-twitter:hover {
    color: black;
}

.readmore {
    color: #7a7a7a;
    text-decoration: none;
    font-weight: 600;
    font-family: Cinzel, sans-serif;
}

footer {
    height: 173px;
    background-color: rgba(160, 112, 89, 0.6);
    width: 100%;
}

footer .footer-share-box {
    width: 300px;
    margin: 0 auto;
    padding-top: 55px;
}

footer .footer-share-box a {
    text-decoration: none;
}

footer .footer-share-box a i {
    opacity: 1;
    margin: 20px;
    font-size: 40px;
}