@import url('https://fonts.googleapis.com/css?family=Cinzel|Italianno|Rufina');


* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 25px;
    position: fixed;
    width: 100%;
    background-color: rgba(144, 76, 119, 0.7);
}

nav ul {
    width: 400px;
    margin: 0 auto;
}

li {
    display: inline-block;
    list-style-type: none;
}

li a  {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-family: Cinzel, sans-serif;
}

li a:hover {
    font-weight: bolder;
}

section.content {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(255, 236, 227);
    padding-top: 150px;
}

section.content p {
    font-family: Rufina, sans-serif;
}

section.content article.stories {
    width: 60%;
    margin: 0 auto;
}


section.content article.stories h1 a {

    font-family: "Italianno", sans-serif;
    font-size: 55px;
    color: #484848;
    font-weight: 400;
    text-decoration: none;
}

section.content article.stories h1 {
    text-align: center;
}


section.content article.stories img {
    padding-top: 20px;
}

section.content article.stories p {
    text-align: justify;
}

div.linebreak  {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

footer {
    height: 100px;
    background-color: #A07059;
}

div.share-box {

    width: 170px;
    margin: 0 auto;
    border-radius: 5px;
}

div.share-box a {
    text-decoration: none;
}

div.share-box a i {
    margin: 20px;
    color: rgba(144, 76, 119, 1);

}